@page "/"

<h1 class="display-4">Welcome</h1>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title ">Overview</h4>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="row mt-2">
                            <div class="col">
                                <h3>Overview</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">leak_add</i>
                </div>
                <h4 class="card-title ">Interferometer</h4>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="row mt-2">
                            <div class="col">
                                <h3>Interferometer</h3>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label class="bmd-label-floating">interferometer ...</label>
                                <img src="./img/flow_diagram_interferometer.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header card-header-icon card-header-info">
                <div class="card-icon">
                    <i class="material-icons">developer_board</i>
                </div>
                <h4 class="card-title ">FPGA</h4>
            </div>
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="row mt-2">
                            <div class="col">
                                <h3>FPGA</h3>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <label class="bmd-label-floating">FPGA ...</label>
                                <img src="./img/flow_diagram_FPGA.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>