@page "/recording"
@inject SignalRService signalR

<h1 class="display-4">Recording</h1>

<div class="alert alert-info alert-with-icon" data-notify="container">
    <i class="material-icons" data-notify="icon">notifications</i>
    <span data-notify="message">The recording feature is not yet implemented. Once ready, it will be possible to record subsequent measurement data with high speed and to play back streamed vibration data in the browser. This enables the user to perform more comprehensive analyzing of the measured data.</span>
</div>
