<div class="row mt-2">
    <div class="col">
        <h3>@DisplayName</h3>
    </div>
</div>
<div class="row mb-2">
    <div class="col">
        <label class="bmd-label-floating">@Description</label>
    </div>
</div>

@functions 
{
    [Parameter]
    private string DisplayName { get; set; }

    [Parameter]
    private string Description { get; set; }
}