@using Vibrometer.BaseTypes.API

<div class="row mt-2">
    <div class="col">
        <label class="bmd-label-floating">@Record.DisplayName</label>
    </div>
</div>
<div class="row mb-2">
    <div class="col-md-4">
        <input type="text" class="form-control" bind="@Value" />
    </div>
    <div class="col-md-8">
        <label class="bmd-label-floating">@Record.Description</label>
    </div>
</div>

@functions 
{
    [Parameter]
    private int Value { get; set; }

    [Parameter]
    private ApiRecord Record { get; set; }
}