@using Vibrometer.WebClient.Model

@inherits BlazorLayoutComponent
@inject SignalRService signalR
@inject AppStateViewModel state

<div class="wrapper">

    <Sidebar />

    <div class="main-panel">

        <Navbar />

        <div class="content">
            <div class="content">
                <div class="container-fluid">
                    @if (state.IsConnected)
                    {
                        @Body
                    }
                    else
                    {
                        <div class="alert alert-rose alert-with-icon" data-notify="container">
                            <i class="material-icons" data-notify="icon">notifications</i>
                            <span data-notify="message">Connection to server lost, trying to reconnect ...</span>
                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

</div>

@functions
{
    protected override void OnInit()
    {
        state.PropertyChanged += (sender, e) =>
        {
            if (e.PropertyName == nameof(state.IsConnected))
            {
                this.StateHasChanged();
            }
        };
    }
}

