@inherits BlazorLayoutComponent
@inject SignalRService signalR

<div class="wrapper">

    <Sidebar />

    <div class="main-panel">

        <Navbar />

        <div class="content">
            <div class="content">
                <div class="container-fluid">
                    @Body
                </div>
            </div>
        </div>

    </div>

</div>
