@inherits BlazorLayoutComponent
@inject SignalRService signalR
@inject AppState state

@using Vibrometer.BaseTypes
@using Vibrometer.WebClient.Model

<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top" id="navigation">

    <div class="container-fluid">

        <div class="navbar-wrapper">

            <div class="navbar-minimize">
                <button id="minimizeSidebar" class="btn btn-just-icon btn-white btn-fab btn-round">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
                </button>
            </div>

            <a class="navbar-brand">Dashboard</a>

        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end">

            <div class="fileinput text-center" data-provides="fileinput">
                <span class="btn btn-raised btn-round btn-outline-info btn-file">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">cloud_upload</i>
                    <span class="fileinput-new">Load</span>
                    <input type="file" onchange="@UploadFile" id="fileUpload" accept=".vib.json" />
                </span>
                <span class="btn btn-raised btn-round btn-outline-secondary btn-file" onclick="@this.DownloadFile">
                    <i class="material-icons text_align-center visible-on-sidebar-regular">cloud_download</i>
                    <span class="fileinput-new">Save</span>
                </span>
            </div>

        </div>

    </div>

</nav>

@functions
{
    private async void UploadFile(UIChangeEventArgs e)
    {
        VibrometerState vibrometerState;

        try
        {
            vibrometerState = await JSRuntime.Current.InvokeAsync<VibrometerState>("Vibrometer.ReadVibFile", "fileUpload");
            await signalR.Connection.InvokeAsync("ApplyConfiguration", vibrometerState);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }

    private void DownloadFile()
    {
        JSRuntime.Current.InvokeAsync<VibrometerState>("Vibrometer.WriteVibFile", state.VibrometerState);
    }
}
